h5{
    text-align: center;
}
input[type="text"]{
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
}
.cb1{
    float: left;
}
.cb2{
    float: left;
    width: 98%;
}
.cbb1{
    margin-left: 20px;
}
.ttgn{
    width: 40%;
    height: 290px;
    float: right;
}
.form1 {

}
.namaform1 {
    float: left;
}
.inputform1 {
    float: right;
    width: 80%;
}
.inputform1 input[type="text"]{
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    height: 40px;
    width: 100%;
    font-size: 15px;
}
.inputform11{
    float: right;
    width: 66%;
}
.inputform11 input[type="text"]{
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    height: 40px;
    width: 100%;
    font-size: 15px;
}
.inputform12 input[type="checkbox"]
{
    height: 18px;
    width: 18px;
    float: left;
    margin-top: 3px;
}
.inputform12{
    float: left;
    margin-left: 40px;
}
