.my-border{
	border-right: 1px solid black;
	border-bottom:1px solid black;
}
.my-border-border{
	border-right:none;
	border-bottom:1px solid black;
	border-top: 1px solid black
}
.my-border-border-top{
	border-right:none;
	border-bottom:1px solid black;
	border-top: none;
}
.my-border-right{
	border-bottom:1px solid black;
}
.my-input{
	width: 675px;
	height: 100px;
	border-bottom: none;
	border-right: none;
	border-top:none;
	border-right:1px solid black;
}
.date{
	width: 190px;
	border:none;
	border-bottom: 1px solid black;
	padding-bottom:  
}
.input-bot{
	margin-top: 20px;
}
.input-bot-bot{
	border:none;
	border-bottom: 1px solid black;
}
.my-table{
	border-left: none;
}

h5{
    text-align: center;
}
input[type="text"]{
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
}
.cb1{
    float: left;
}
.cb2{
    float: left;
    width: 98%;
}
.cbb1{
    margin-left: 20px;
}
.ttgn{
    width: 40%;
    height: 290px;
    float: right;
}
.form1 {

}
.namaform1 {
    float: left;
}
.inputform1 {
    float: right;
    width: 80%;
}
.inputform1 input[type="text"]{
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    height: 40px;
    width: 100%;
    font-size: 15px;
}
.inputform11{
    float: right;
    width: 66%;
}
.inputform11 input[type="text"]{
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    height: 40px;
    width: 100%;
    font-size: 15px;
}
.inputform12 input[type="checkbox"]
{
    height: 18px;
    width: 18px;
    float: left;
    margin-top: 3px;
}
.inputform12{
    float: left;
    margin-left: 40px;
}
	